Name Izzet Lessons

4 Abandon Attachments
4 Accumulate Wisdom
1 Agna Qel'a
4 Artist's Talent
4 Boomerang Basics
4 Combustion Technique
4 Firebending Lesson
4 Gran-Gran
1 Iroh's Demonstration
6 Island
2 It'll Quench Ya!
4 Monument to Endurance
2 Mountain
1 Multiversal Passage
4 Riverpyre Verge
4 Spirebluff Canal
4 Steam Vents
3 Stormchaser's Talent

Sideboard

2 Annul
2 Disdainful Stroke
1 Flashfreeze
2 Quantum Riddler
2 Ral, Crackling Wit
2 Sear
2 Slagstorm
1 Spell Snare
1 Torpor Orb
